{% extends "content/base.html" %}

{% load static %}

{% block content %}
 <!-- First Parallax Container -->
 <div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
   <div class="container">
    <h1 class="header center black-text"><b>ArtsyVisions.com</b></h1>
    <div class="row center">
     <h3 class="header col s12 black-text"><b>Insights from the
      <a href="https://www.SeeOurMinds.com" class="black-text"
         title="Home page of SeeOurMinds.com" target="_blank">
       SeeOurMinds</a>
      <a href="https://www.SeeOurMinds.com/galleries" class="black-text"
         title="Galleries page at SeeOurMinds.com" target="_blank">
       Galleries</a>
      </b></h3>
    </div>
    <div class="center row">
     <a href="/visions/all" class="btn-large waves-effect waves-light blue-grey darken-2 z-depth-5">
      <i class="fa fa-eye" aria-hidden="true"></i>
      &nbsp;See All Visions&nbsp;
      <i class="fa fa-eye" aria-hidden="true"></i>
     </a>
    </div>
   </div>
  </div>
  <div class="parallax">
   <img src="{% static 'content/images/home/Washington-background_1-bc_127_75-bc_127_0.jpg' %}"
        alt="Large image of George Washington's personality, ISTJ, containing more Green and Yellow squares and fewer Red and Blue squares">
  </div><!-- .parallax -->
 </div><!-- .parallax-container -->

 <!-- Icon Section -->
 <div class="container">
  <div class="section">
   <div class="row z-depth-3">
    <div class="col s12 l4">
     <div class="icon-block">
      <h2 class="center red-text"><i class="material-icons">person</i></h2>
      <h4 class="center">Persons</h4>
      <p class="dark">
       See the personalities of selected individuals &mdash; both real and fictional &mdash; from
        <a href='https://SeeOurMinds.com' title='Link to the home page at SeeOurMinds.com' target='_blank'>SeeOurMinds.com</a>,
        and read stories about how the <q>Spiritual Portraits</q> &trade; depict the personalities.
      </p>
      <div class="row center">
       <a href="/visions/person" class="btn-large waves-effect waves-light red darken-2 z-depth-3">
        <i class="material-icons">person</i>
        &nbsp;Individuals&nbsp;
        <i class="material-icons">person</i></a>
      </div>
     </div>
    </div><!-- .col -->
    <div class="col s12 l4">
     <div class="icon-block">
      <h2 class="center green-text"><i class="material-icons">group</i></h2>
      <h4 class="center">People</h4>
      <p class="dark">
       See the difference between the <a href='https://groja.com' title='Link to the home page at Groja.com' target='_blank'>Grojas</a>
        &mdash; the Graphical Representations of Jungian Archetypes &mdash; of two people,
        and read stories about how the images reflect the similarities and differences in their personalities.
      </p>
      <div class="row center">
       <a href="/visions/people" class="btn-large waves-effect waves-light green darken-2 z-depth-3">
        <i class="material-icons">group</i>
        &nbsp;Pairs&nbsp;
        <i class="material-icons">group</i></a>
      </div>
     </div>
    </div><!-- .col -->
    <div class="col s12 l4">
     <div class="icon-block">
      <h2 class="center blue-text"><i class="material-icons">group_add</i></h2>
      <h4 class="center">Groups</h4>
      <p class="dark">
       See how people with different personalities can complement one another on a team,
        and learn how a diverse team is more than the sum of its parts.
      </p>
      <div class="row center">
       <a href="/visions/groups" class="btn-large waves-effect waves-light blue darken-2 z-depth-3">
        <i class="material-icons">group_add</i>
        &nbsp;Groups&nbsp;
        <i class="material-icons">group_add</i></a>
      </div>
     </div>
    </div><!-- .col -->
   </div><!-- .row -->
  </div><!-- .section -->
 </div><!-- .container -->

 <!-- Second Parallax Container -->
 <div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
   <div class="container">
    <div class="row center">
     <h4 class="header col s12 black-text">
      <b>Subscribe to Our Monthly Newsletter and Get Your <u>Free</u> Spiritual Portrait&trade;!</b></h4>
    </div>
   </div><!-- .container -->
  </div><!-- .section -->
  <div class="parallax">
   <img src="{% static 'content/images/home/Franklin-background_2-bc_127_75-bc_127_0.jpg' %}"
        alt="Large image of Benjamin Franklin's personality, ENTP, containing more Blue and Green squares and fewer Yellow and Red squares">
  </div><!-- .parallax -->
 </div><!-- .parallax-container -->


 <!-- Bottom Section -->
 <div class="container">
  <div class="section">
   <div class="row z-depth-3">
    <div class="col s12 center">
     <h3><i class="mdi-content-send brown-text"></i></h3>
     <h4><b>Limited Time Offer!</b></h4>
     <p class="left-align dark">
      For a limited time, people who subscribe to the Artsy Visions
      Monthly Newsletter<sup>&ast;</sup> can receive a <u>free</u> Spiritual Portrait&trade;.
     </p>
     <p class="center flow-text dark">
      This offer is available
       <em>only</em> by clicking the button below.
     </p>
     <p class="center">
      <a href="https://groja.com/conversions/free_offer" target="_blank"
         class="btn-small waves-effect waves-light blue-grey darken-2 z-depth-5">
       <i class="fa fa-envelope-o" aria-hidden="true"></i>
       &nbsp;Subscribe and Get Your <u>Free</u> Portrait!&nbsp;
       <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </a>
     </p>
     <p class="left-align dark">
      <sup>&ast;</sup>&nbsp;The Artsy Visions Monthly Newsletter includes updates for
      <a href="https://www.ArtsyVisions.com"
         title="ArtsyVisions.com home page" target="_blank">
       ArtsyVisions.com</a>,
      <a href="https://www.SeeOurMinds.com" title="Home page of SeeOurMinds.com">
       SeeOurMinds.com</a>, and
      <a href="https://www.Groja.com" title="Groja.com home page" target="_blank">
       Groja.com</a>.
     </p>
    </div><!-- .col -->
   </div><!-- .row -->
  </div><!-- .section -->
 </div><!-- .container -->

 <!-- Third Parallax Container -->
 <div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
   <div class="container">
    <div class="center row">
     <a href="https://groja.com/conversions/free_offer" target="_blank"
        class="btn-large waves-effect waves-light blue-grey darken-2 z-depth-5">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
      &nbsp;Subscribe and Get Your <u>Free</u> Portrait!&nbsp;
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
     </a>
    </div>
   </div>
  </div><!-- .section -->
  <div class="parallax">
   <img src="{% static 'content/images/home/Henry-background_3-bc_127_75-bc_127_0.jpg' %}"
        alt="Large image of Patrick Henry's personality, ESFJ, containing more Red and Yellow squares and fewer Green and Blue squares">
  </div><!-- .parallax -->
 </div><!-- .parallax-container -->

{% endblock %}
