{% extends "content/base.html" %}

{% load static %}

{% block content %}
 <!-- First Parallax Container -->
 <div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
   <div class="container">
    <h1 class="header center black-text"><b>ArtsyVisions.com</b></h1>
    <div class="row center">
     <h3 class="header col s12 black-text"><b>Insights from the
      <a href="https://www.SeeOurMinds.com" class="black-text"
         title="Home page of SeeOurMinds.com" target="_blank">
       SeeOurMinds</a>
      <a href="https://www.SeeOurMinds.com/galleries" class="black-text"
         title="Galleries page at SeeOurMinds.com" target="_blank">
       Galleries</a>
      </b></h3>
    </div>
    <div class="center row">
     <a href="/visions/all" class="btn-large waves-effect waves-light blue-grey darken-2 z-depth-5">See All Visions</a>
    </div>
   </div>
  </div>
  <div class="parallax">
   <img src="{% static 'content/images/home/Washington-background_1-bc_127_75-bc_127_0.jpg' %}"
        alt="Large image of George Washington's personality, ISTJ, containing more Green and Yellow squares and fewer Red and Blue squares">
  </div><!-- .parallax -->
 </div><!-- .parallax-container -->

 <!-- Icon Section -->
 <div class="container">
  <div class="section">
   <div class="row z-depth-3">
    <div class="col s12 m4">
     <div class="icon-block">
      <h2 class="center red-text"><i class="material-icons">person</i></h2>
      <h4 class="center">Persons</h4>
      <p class="dark">
       See the personalities of selected individuals &mdash; both real and fictional &mdash; from
        <a href='https://SeeOurMinds.com' title='Link to the home page at SeeOurMinds.com' target='_blank'>SeeOurMinds.com</a>,
        and read stories about how the <q>Spiritual Portraits</q> &trade; depict the personalities.
      </p>
      <div class="row center">
       <a href="/visions/person" class="btn-small waves-effect waves-light red darken-2 z-depth-3">Visions of Individuals
        <i class="material-icons">person</i></a>
      </div>
     </div>
    </div><!-- .col -->
    <div class="col s12 m4">
     <div class="icon-block">
      <h2 class="center green-text"><i class="material-icons">group</i></h2>
      <h4 class="center">People</h4>
      <p class="dark">
       See the difference between the <a href='https://groja.com' title='Link to the home page at Groja.com' target='_blank'>Grojas</a>
        &mdash; the Graphical Representations of Jungian Archetypes &mdash; of two people,
        and read stories about how the images reflect the similarities and differences in their personalities.
      </p>
      <div class="row center">
       <a href="/visions/people" class="btn-small waves-effect waves-light green darken-2 z-depth-3">Visions of Pairs
        <i class="material-icons">group</i></a>
      </div>
     </div>
    </div><!-- .col -->
    <div class="col s12 m4">
     <div class="icon-block">
      <h2 class="center blue-text"><i class="material-icons">group_add</i></h2>
      <h4 class="center">Groups</h4>
      <p class="dark">
       See how people with different personalities can complement one another on a team,
        and learn how a diverse team is more than the sum of its parts.
      </p>
      <div class="row center">
       <a href="/visions/groups" class="btn-small waves-effect waves-light blue darken-2 z-depth-3">Visions of Groups
        <i class="material-icons">group_add</i></a>
      </div>
     </div>
    </div><!-- .col -->
   </div><!-- .row -->
  </div><!-- .section -->
 </div><!-- .container -->

 <!-- Second Parallax Container -->
 <div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
   <div class="container">
    <div class="row center">
     <h4 class="header col s12 black-text">
      <b>Subscribe to Our Monthly Newsletter and Get Your Free Spiritual Portrait&trade;!</b></h4>
    </div>
   </div><!-- .container -->
  </div><!-- .section -->
  <div class="parallax">
   <img src="{% static 'content/images/home/Franklin-background_2-bc_127_75-bc_127_0.jpg' %}"
        alt="Large image of Benjamin Franklin's personality, ENTP, containing more Blue and Green squares and fewer Yellow and Red squares">
  </div><!-- .parallax -->
 </div><!-- .parallax-container -->


 <!-- Bottom Section -->
 <div class="container">
  <div class="section">
   <div class="row z-depth-3">
    <div class="col s12 center">
     <h3><i class="mdi-content-send brown-text"></i></h3>
     <h4><b>Limited Time Free Offer!</b></h4>
     <p class="left-align dark">
      For a limited time only, people who subscribe to the Artsy Visions
      Monthly Newsletter<sup>&ast;</sup> can receive a free Spiritual Portrait&trade;.</p>
     <p class="left-align dark">
      To take advantage of this <em>free</em> offer, follow these steps:</p>
     <ol class="left-align dark">
      <li>
       Subscribe to the Artsy Visions Monthly Newsletter<sup>&ast;</sup></li>
      <li>
       Take the
        <a href="https://seeourminds.com/quiz" target="_blank"
           title="Link to take the SeeOurMinds Quiz at SeeOurMinds.com">
         SeeOurMinds Quiz</a>
        &mdash; the more questions you answer, the better</li>
      <li>
       Send your results in an email to
        <a href="mailto:freeoffer@seeourminds.com">freeoffer@seeourminds.com</a>
        &mdash; being sure to send it from the account you used to join the list</li>
     </ol>
     <p class="left-align dark">
      Give us a few days and &mdash; within a week &mdash; we will create and send you your personalized Spiritual Portrait, &trade; based on
       your score on the SeeOurMinds Quiz.
     </p>
    </div><!-- .col -->
   </div><!-- .row -->
  </div><!-- .section -->
 </div><!-- .container -->

 <!-- Third Parallax Container -->
 <div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
   <div class="container">
    <div class="center row">
     <a href="https://groja.com/conversions/free_offer" class="btn-large waves-effect waves-light blue-grey darken-2 z-depth-5">
      Get Your Free Spiritual Portrait! &trade;</a>
    </div>
   </div>
  </div><!-- .section -->
  <div class="parallax">
   <img src="{% static 'content/images/home/Henry-background_3-bc_127_75-bc_127_0.jpg' %}"
        alt="Large image of Patrick Henry's personality, ESFJ, containing more Red and Yellow squares and fewer Green and Blue squares">
  </div><!-- .parallax -->
 </div><!-- .parallax-container -->

{% endblock %}
