{% extends "content/base.html" %}

{% load static %}

{% block content %}
 <!-- First Parallax Container -->
 <div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
   <div class="container">
    <h1 class="header center black-text"><b>ArtsyVisions.com</b></h1>
    <div class="row center">
     <h3 class="header col s12 hide-on-small-only   black-text"><b>
      Insights from the
       <a href="https://www.SeeOurMinds.com/galleries" class="black-text"
          title="Link to the Galleries page at SeeOurMinds.com" target="_blank">
        Galleries</a>
       at
       <a href="https://www.SeeOurMinds.com" class="black-text"
          title="Link to the Home page of SeeOurMinds.com" target="_blank">
        SeeOurMinds.com</a>
      </b></h3>
      <h3 class="header col s12 hide-on-med-and-up   black-text"><b>
       Insights from
       <a href="https://www.SeeOurMinds.com" class="black-text"
          title="Link to the Home page of SeeOurMinds.com" target="_blank">
        SeeOurMinds.com</a>
       </b></h3>
    </div>
    <div class="center row">
     <a href="/visions/all" title="See Artsy Visions of Individuals, Pairs, and Groups of People"
        class="btn-large waves-effect waves-light red darken-1 white-text z-depth-5">
      <i class="fa fa-eye" aria-hidden="true"></i>
      &nbsp;See All Visions&nbsp;
      <i class="fa fa-eye" aria-hidden="true"></i>
     </a>
    </div>
   </div>
  </div>
  <div class="parallax">
   <img src="{% static 'content/images/home/Washington-background_1-bc_127_75-bc_127_0.jpg' %}"
        alt="Large image of George Washington's personality, ISTJ, containing more Green and Yellow squares and fewer Red and Blue squares">
  </div><!-- .parallax -->
 </div><!-- .parallax-container -->

 <!-- Icon Section -->
 <div class="container">
  <div class="section">
   <div class="row z-depth-3">
    <div class="col s12 l4">
     <div class="icon-block">
      <h2 class="center">
       <a href="/visions/person" title="See Artsy Visions of Individuals">
        <i class="material-icons blue-text text-darken-1">person</i></a></h2>
      <h4 class="center">Persons</h4>
      <p class="dark">
       See the personalities of selected individuals &mdash; both real and fictional &mdash; from
        <a href='https://SeeOurMinds.com' title='Link to the home page at SeeOurMinds.com' target='_blank'>SeeOurMinds.com</a>,
        and read stories about how the <q>Spiritual Portraits</q> &trade; depict the personalities.
      </p>
      <div class="row center">
       <a href="/visions/person" title="See Artsy Visions of Individuals"
          class="btn-large waves-effect waves-light blue darken-1 white-text z-depth-5">
        <i class="material-icons">person</i>
        &nbsp;Individuals&nbsp;
        <i class="material-icons">person</i></a>
      </div>
     </div>
    </div><!-- .col -->
    <div class="col s12 l4">
     <div class="icon-block">
      <h2 class="center">
       <a href="/visions/pairs" title="See Artsy Visions of Pairs of People">
        <i class="material-icons green-text darken-1">group</i></a></h2>
      <h4 class="center">Pairs</h4>
      <p class="dark">
       See the difference between the <a href='https://groja.com' title='Link to the home page at Groja.com' target='_blank'>Grojas</a>
        &mdash; the Graphical Representations of Jungian Archetypes &mdash; of two people,
        and read stories about how the images reflect the similarities and differences in their personalities.
      </p>
      <div class="row center">
       <a href="/visions/pairs" title="See Artsy Visions of Pairs of People"
          class="btn-large waves-effect waves-light green darken-1 white-text z-depth-5">
        <i class="material-icons">group</i>
        &nbsp;Pairs&nbsp;
        <i class="material-icons">group</i></a>
      </div>
     </div>
    </div><!-- .col -->
    <div class="col s12 l4">
     <div class="icon-block">
      <h2 class="center">
       <a href="/visions/groups" title="See Artsy Visions of Groups of People">
        <i class="material-icons yellow-text text-darken-1">group_add</i></a></h2>
      <h4 class="center">Groups and Teams</h4>
      <p class="dark">
       See how individuals with different personalities can complement one another on a team,
        and learn how a diverse team is more than the sum of its parts.
      </p>
      <div class="row center">
       <a href="/visions/groups" title="See Artsy Visions of Groups of People"
          class="btn-large waves-effect waves-light yellow darken-1 black-text z-depth-5">
        <i class="material-icons">group_add</i>
        &nbsp;Groups&nbsp;
        <i class="material-icons">group_add</i></a>
      </div>
     </div>
    </div><!-- .col -->
    <div class="col s12">
     <ul class="social-icons center">
      <li class="social-icon waves-effect">
       <a href="https://www.facebook.com/tomwhartung/" target="_blank"
          title="Connect with me on facebook!" class="transparent btn-floating z-depth-3">
        <i class="fa fa-facebook black-text"> </i></a></li>
      <li class="social-icon waves-effect">
       <a href="https://www.linkedin.com/in/tomhartung/detail/recent-activity/shares/" target="_blank"
          title="Connect with me on linkedin!" class="transparent btn-floating z-depth-3">
        <i class="fa fa-linkedin black-text"> </i></a></li>
      <li class="social-icon waves-effect">
       <a href="https://twitter.com/tomwhartung" target="_blank"
          title="Connect with me on twitter!" class="transparent btn-floating z-depth-3">
        <i class="fa fa-twitter black-text"> </i></a></li>
      <li class="social-icon waves-effect">
       <a href="https://www.pinterest.com/tomwhartung/" target="_blank"
          title="Connect with me on pinterest!" class="transparent btn-floating z-depth-3">
        <i class="fa fa-pinterest black-text"> </i></a></li>
      <li class="social-icon waves-effect">
       <a href="https://tumblr.com/blog/tomwhartung" target="_blank"
          title="Connect with me on tumblr!" class="transparent btn-floating z-depth-3">
        <i class="fa fa-tumblr black-text"> </i></a></li>
      <li class="social-icon waves-effect">
       <a href="https://www.instagram.com/twhartung/" target="_blank"
          title="Connect with me on instagram!" class="transparent btn-floating z-depth-3">
        <i class="fa fa-instagram black-text"> </i></a></li>
      <li class="social-icon waves-effect">
       <a href="https://www.reddit.com/user/tomwhartung" target="_blank"
          title="Connect with me on reddit!" class="transparent btn-floating z-depth-3">
        <i class="fa fa-reddit black-text"> </i></a></li>
      <li class="social-icon waves-effect">
       <a href="https://github.com/tomwhartung" target="_blank"
          title="Connect with me on github!" class="transparent btn-floating z-depth-3">
        <i class="fa fa-github black-text"> </i></a></li>
     </ul>
    </div><!-- .col -->
   </div><!-- .row -->
  </div><!-- .section -->
 </div><!-- .container -->

 <a name="under-the-fold"></a>
 <!-- Second Parallax Container -->
 <div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
   <div class="container">
    <div class="row center">
     <h4 class="header col s12 black-text">
      <b>Subscribe to Our Monthly Newsletter to
         Get the <i><u>Inside</u></i> Scoop on Spiritual Portraits&trade;!</b>
     </h4>
    </div>
   </div><!-- .container -->
  </div><!-- .section -->
  <div class="parallax">
   <img src="{% static 'content/images/home/Franklin-background_2-bc_127_75-bc_127_0.jpg' %}"
        alt="Large image of Benjamin Franklin's personality, ENTP, containing more Blue and Green squares and fewer Yellow and Red squares">
  </div><!-- .parallax -->
 </div><!-- .parallax-container -->


 <!-- Bottom Section -->
 <div class="container">
  <div class="section">
   <div class="row z-depth-3">
    <div class="col s12 center">
     <h3><i class="mdi-content-send brown-text"></i></h3>
     <h4><b>Subscribe Today!</b></h4>
     <p class="left-align dark">
      Among other benefits, subscribers to the Artsy Visions Monthly
       Newsletter<sup><i class="fa fa-asterisk" aria-hidden="true"></i></sup>
       can learn about getting <i><u>discounts</u></i> on their Spiritual Portrait&trade;.
     </p>
     <p class="center">
      <a href="https://groja.com/conversion/avmn" target="_blank"
         class="btn-small waves-effect waves-light red darken-1 white-text z-depth-3">
       <i class="fa fa-envelope-o" aria-hidden="true"></i>
       &nbsp;Subscribe!&nbsp;
       <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </a>
     </p>
     <p class="left-align dark">
      <sup><i class="fa fa-asterisk" aria-hidden="true"></i></sup>
      The Artsy Visions Monthly Newsletter includes news of
       special offers on
       <a href="https://www.Groja.com" title="Groja.com home page" target="_blank">
        <strong>Groja.com</strong></a>
       and updates to content on
      <a href="https://www.ArtsyVisions.com"
         title="ArtsyVisions.com home page" target="_blank">
       <strong>ArtsyVisions.com</strong></a> and
      <a href="https://www.SeeOurMinds.com" title="Home page of SeeOurMinds.com">
       <strong>SeeOurMinds.com</strong></a>.
     </p>
    </div><!-- .col -->
   </div><!-- .row -->
  </div><!-- .section -->
 </div><!-- .container -->

 <!-- Third Parallax Container -->
 <div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
   <div class="container">
    <div class="center row">
     <a href="https://groja.com/conversion/avmn" target="_blank"
        class="btn-large waves-effect waves-light yellow darken-1 black-text z-depth-5">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
      &nbsp;Subscribe <u>Now</u>!!&nbsp;
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
     </a>
    </div>
   </div>
  </div><!-- .section -->
  <div class="parallax">
   <img src="{% static 'content/images/home/Henry-background_3-bc_127_75-bc_127_0.jpg' %}"
        alt="Large image of Patrick Henry's personality, ESFJ, containing more Red and Yellow squares and fewer Green and Blue squares">
  </div><!-- .parallax -->
 </div><!-- .parallax-container -->

{% endblock %}
