{% extends 'content/base.html' %}

{% block content %}
<div class="container">
 <div class="section z-depth-3">
  <div class="row">
   <div class="col s12 m10 l8 offset-m1 offset-l2">
    <h1 class="center">Versions</h1>
    <p>
     Versions
    </p>
    <ul class="collection">
     <li class="collection-item">
      Python: {{ python_version }}
     </li>
     <li class="collection-item">
      django.VERSION: {{ django_version_1 }}
     </li>
     <li class="collection-item">
      django.get_version(): {{ django_version_2 }}
     </li>
    </ul>
    <p>
     <u>Command line &ndash; python:</u><br>
     which python<br>
     python -V<br>
     python --version<br>
     which python3<br>
     python3 --version<br>
     python3 -V<br>
    </p>
    <hr>
    <p>
     <u>Command line &ndash; django:</u><br>
     python3 -c "import django; print(django.VERSION)"<br>
     python3 -c "import django; print(django.get_version())"
    </p>
    <hr>
   </div><!-- .col -->
  </div><!-- .row -->
 </div><!-- .section -->
</div><!-- .container -->
{% endblock %}
