{% extends "content/base.html" %}
{% load static %}

{% block content %}
<div class="container">
 <div class="section">
  <div class="row z-depth-3">
   <div class="col s12">
    <h2 class="center">All Visions</h2>

   </div><!-- .col -->
  </div><!-- .row -->
 </div><!-- .section -->
</div><!-- .container -->

<div class="container">
 <div class="section">
  <p>static 'content/images/visions/person/entp-luke_skywalker-1.jpg'
  </p>
  <p>
   <img class="activator" width="100px" height="100px"
        src="{% static 'content/images/visions/person/entp-luke_skywalker-1.jpg' %}">
  </p>

{% for vis_dict in visions_list_obj.visions_list_data %}

<h5>{{ vis_dict.title }}</h5>
<dl>
 <dt>vis_dict.vision_file_name</dt>
 <dd>{{ vis_dict.vision_file_name }}</dd>
 <dt>vis_dict.vision_type</dt>
 <dd>{{ vis_dict.vision_type }}</dd>
 <dt>vis_dict.group_name</dt>
 <dd>{{ vis_dict.group_name }}</dd>
 {% if vis_dict.vision_type == 'person' or vis_dict.vision_type == 'people' %}
  <dt>static vis_dict.image_file_name</dt>
  <dd>{{ vis_dict.image_file_name }}</dd>
 {% else %}
  {% for image_file_name in vis_dict.image_file_list %}
   <dt>static image_file_name</dt>
   <dd>static {{ image_file_name }}</dd>
  {% endfor %}
 {% endif %}
</dl>

{% if vis_dict.vision_type == 'groups' %}
 {% for image_file_name in vis_dict.image_file_list %}
  <img src="{% static image_file_name %}" width="100" height="100">
 {% endfor %}
{% elif vis_dict.vision_type == 'people' %}
 <img class="activator"
      src="{% static vis_dict.image_file_name %}">
 {% else %}
  <img class="activator" width="100" height="100"
       src="{% static vis_dict.image_file_name %}">
{% endif %}

{% endfor %}

 </div><!-- .section -->
</div><!-- .container -->

{% endblock %}
