{% extends "content/base.html" %}
{% load static %}

{% block content %}
<div class="container">
 <div class="section">
  <div class="row z-depth-3">
   <div class="col s12">
    <h2 class="center">Groups and Teams</h2>
   </div><!-- .col -->
  </div><!-- .row -->
 </div><!-- .section -->
</div><!-- .container -->

<div class="container">
 <div class="section">
  <div class="row">
  {% for vis_dict in visions_list_obj.visions_list_data %}
   {% if vis_dict.col_classes %}
   <div class="col hoverable {{ vis_dict.col_classes }}">
   {% else %}
   <div class="col hoverable s12 m6 l6">
   {% endif %}
   {% if vis_dict.vision_type == 'groups' %}
    <div class="groups-card z-depth-3">
     <h2 class="header center">{{ vis_dict.title }}</h2>
     <div class="z-depth-3 groups-images">
      <div class="card horizontal">
       {% for image_data_dict in vis_dict.image_data %}
        <div class="card-image group-image">
         <a href="/visions/story/{{ vis_dict.vision_file_no_ext }}"
            title="Go to the story about {{ vis_dict.title }}">
          <h5 class="grey-text text-darken-4 center">{{ image_data_dict.name }}</h5>
          <img src="{% static image_data_dict.image_file_path %}"></a>
        </div>
       {% endfor %}
      </div><!-- .card .horizontal -->
      <div class="card">
       <div class="card-content">
        <a class="center" id="toggle-fp-{{ vis_dict.group_slug }}"
           title="Show the first-person backstory">
         <span class="card-title activator grey-text text-darken-4">
          {% if vis_dict.subtitle_html %}
           {% autoescape off %}
            {{ vis_dict.subtitle_html|safe }}
           {% endautoescape %}
          {% endif %}
          {% if vis_dict.card_first_person_html %}
           &nbsp;
           <i class="fa fa-lg fa-comment yellow-text text-darken-3"
              aria-hidden="true"></i>
          {% endif %}
         </span>
        </a>
        {{ vis_dict.card_content_html|safe }}
       </div><!-- .card-content -->
       {% if vis_dict.card_first_person_html %}
        <div id="fp-backstory-{{ vis_dict.group_slug }}"
             class="card-content avs-text-to-toggle">
         <hr>
          <span class="left-align">
           {{ vis_dict.card_first_person_html|safe }}
           <span class="right">
            &nbsp;&ndash;&nbsp;{{ vis_dict.author }}, {{ vis_dict.date }}.</span>
          </span>
        </div><!-- .card-content -->
       {% endif %}
      </div><!-- .card -->
     </div><!-- .z-depth-3 -->
     <hr>
     <hr>
     <!-- START OF OLD CODE -->
     <hr>
     <hr>
     <div class="card">
      <div class="card-content">
       {{ vis_dict.card_content_html|safe }}
      </div>
      <div class="card-action center">
       {% if vis_dict.card_first_person_html %}
        <div class="row">
         <div class="col s8 offset-s2">
          <ul class="collapsible">
           <li>
            <div class="collapsible-header">
             <i class="fa fa-lg fa-comment yellow-text text-darken-3"></i>
            </div>
            <div class="collapsible-body">
             <span class="left-align">
              {{ vis_dict.card_first_person_html|safe }}
              <span class="right">
               &nbsp;&ndash;&nbsp;{{ vis_dict.author }}, {{ vis_dict.date }}.</span>
             </span>
            </div>
           </li>
          </ul>
         </div><!-- .col -->
        </div><!-- .row -->
       {% endif %}
       <a href="/visions/story/{{ vis_dict.vision_file_no_ext }}"
          title="Read the story about {{ vis_dict.title }}"
          class="waves-effect waves-light yellow darken-1 black-text btn">Read the Story</a>
      </div><!-- .card-action -->
     </div><!-- .card -->
     <hr>
     <hr>
     <!-- END OF OLD CODE -->
     <hr>
     <hr>
    </div><!-- .groups-card  .z-depth-3 -->
   {% else %}
    <div class="card z-depth-3">
     <div class="card-content">
      {{ vis_dict.card_content_html|safe }}
      </div>
     </div><!-- .card-content -->
    </div><!-- .card -->
   {% endif %}
   </div><!-- .col -->
  {% endfor %}
  </div><!-- .row -->
 </div><!-- .section -->
</div><!-- .container -->
{% endblock %}

{% block scripts %}
 {{ block.super }}
 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js">
 </script>
 <script>
  var first_person_selector;
  var first_person_html_id;
  {% for vis_dict in visions_list_obj.visions_list_data %}
   {% if vis_dict.group_slug and vis_dict.card_first_person_html %}
    console.log('vis_dict.group_slug: {{ vis_dict.group_slug }}');
    console.log('We have vis_dict.card_first_person_html');
    first_person_selector = "#toggle-fp-{{ vis_dict.group_slug }}";
    first_person_html_id = "#fp-backstory-{{ vis_dict.group_slug }}"
    $(first_person_selector).click(function() {
     $(first_person_html_id).toggle("blind", "slow");
    });
   {% endif %}
  {% endfor %}

  /* *******************
   * START OF OLD CODE
   */
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
  /* *******************
   * END OF OLD CODE
   */

 </script>
{% endblock %}
