{% extends "content/base.html" %}
{% load static %}

{% block content %}
<div class="container">
 <div class="section">
  <div class="row z-depth-3">
   <div class="col s12">
    <h2 class="center">Groups and Teams</h2>
   </div><!-- .col -->
  </div><!-- .row -->
 </div><!-- .section -->
</div><!-- .container -->

<div class="container">
 <div class="section">
  <div class="row">
  {% for vis_dict in visions_list_obj.visions_list_data %}
   {% if vis_dict.col_classes %}
   <div class="col hoverable {{ vis_dict.col_classes }}">
   {% else %}
   <div class="col hoverable s12 m6 l6">
   {% endif %}
   {% if vis_dict.vision_type == 'groups' %}
    <div class="groups-card z-depth-3">
     <h2 class="header center">{{ vis_dict.title }}</h2>
     <div class="card horizontal hoverable">
      {% for image_data_dict in vis_dict.image_data %}
       <div class="card-image group-image">
        <h5 class="center">{{ image_data_dict.name }}</h5>
        <img src="{% static image_data_dict.image_file_path %}">
       </div>
      {% endfor %}
     </div><!-- .card .horizontal -->
     <div class="card">
      <div class="card-content">
       {{ vis_dict.card_content_html|safe }}
      </div>
      <div class="card-action center">
       <a href="/visions/story/{{ vis_dict.vision_file_no_ext }}"
          class="waves-effect waves-light btn">Read the Story</a>
      </div>
     </div><!-- .card -->
    </div><!-- .groups-card  .z-depth-3 -->
   {% else %}
    <div class="card z-depth-3">
     <div class="card-content">
      {{ vis_dict.card_content_html|safe }}
      </div>
     </div><!-- .card-content -->
    </div><!-- .card -->
   {% endif %}
   </div><!-- .col -->
  {% endfor %}
  </div><!-- .row -->
 </div><!-- .section -->
</div><!-- .container -->

<hr><hr><hr>
<div class="container">
 <div class="section">
  <div class="row z-depth-3">
   <div class="col s12">
    <h2 class="center">Hard-Coded Visions</h2>
   </div><!-- .col -->
  </div><!-- .row -->
 </div><!-- .section -->
</div><!-- .container -->
<hr><hr><hr>

<div class="container">
 <div class="section">

  <div class="row">
   <div class="col s12 z-depth-3">
    <h2 class="header center">The Team at Fawlty Towers</h2>
    <div class="card horizontal">
     <div class="card-image group-image">
      <h5 class="center">Basil Fawlty</h5>
      <img src="{% static 'content/images/visions/groups/team_fawlty/estp-basil_fawlty-1.jpg' %}">
     </div>
     <div class="card-image group-image">
      <h5 class="center">Sybil Fawlty</h5>
      <img src="{% static 'content/images/visions/groups/team_fawlty/esfj-sybil_fawlty-1.jpg' %}">
     </div>
     <div class="card-image group-image">
      <h5 class="center">Polly Sherman</h5>
      <img src="{% static 'content/images/visions/groups/team_fawlty/infp-polly_sherman-1.jpg' %}">
     </div>
     <div class="card-image group-image">
      <h5 class="center">Manuel</h5>
      <img src="{% static 'content/images/visions/groups/team_fawlty/isfp-manuel-1.jpg' %}">
     </div>
    </div><!-- .card .horizontal -->
    <div class="card">
     <div class="card-content">
      <p>Card content in a new card that appears after and outside of the "card horizontal" div.</p>
     </div>
     <div class="card-action center">
      <a href="/visions/story" class="waves-effect waves-light btn">Read the Story</a>
     </div>
    </div><!-- .card -->
   </div><!-- .col -->
  </div><!-- .row -->

  <div class="row">
   <div class="col s12 z-depth-3">
    <h2 class="header center">Three Populist Politicians</h2>
    <div class="card horizontal">
     <div class="card-image group-image">
      <h5 class="center">Patrick Henry</h5>
      <img src="{% static 'content/images/visions/groups/three_populist_politicians/esfj-patrick_henry-1.jpg' %}">
     </div>
     <div class="card-image group-image">
      <h5 class="center">Citizen Kane</h5>
      <img src="{% static 'content/images/visions/groups/three_populist_politicians/esfj-charles_foster_kane-1.jpg' %}">
     </div>
     <div class="card-image group-image">
      <h5 class="center">Donald Trump</h5>
      <img src="{% static 'content/images/visions/groups/three_populist_politicians/esfj-donald_trump-1.jpg' %}">
     </div>
    </div><!-- .card .horizontal -->
    <div class="card">
     <div class="card-content">
      <p>Trump's election has given rise to strong emotions.
       These images, and the accompanying story, offer an objective, historical way to view his character.</p>
     </div>
     <div class="card-action center">
      <a href="/visions/story" class="waves-effect waves-light btn">Read the Story</a>
     </div>
    </div><!-- .card -->
   </div><!-- .col -->

  </div><!-- .row -->
 </div><!-- .section -->
</div><!-- .container -->

{% endblock %}
