{% extends "content/base.html" %}
{% load static %}

{% block content %}
<div class="container">
 <div class="section">
  <div class="row z-depth-3">
   <div class="col s12">
    <h2 class="center">Visions: Pairs</h2>
   </div><!-- .col -->
  </div><!-- .row -->
 </div><!-- .section -->
</div><!-- .container -->

<div class="container">
 <div class="section">
  <div class="row">

   {% for vis_dict in visions_list_obj.visions_list_data %}
    {% if vis_dict.col_classes %}
     <div class="col {{ vis_dict.col_classes }}">
    {% else %}
     <div class="col s12 m6 l6">
    {% endif %}
    {% if vis_dict.vision_type == 'people' %}
     <div class="pairs-card z-depth-3">
      <h4 class="center">{{ vis_dict.title }}</h4>
      <div class="card sticky-action">
       <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{% static vis_dict.image_file_path %}">
       </div>
       <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{ vis_dict.title }}
         <i class="material-icons right">close</i></span>
        {{ vis_dict.card_reveal_html|safe }}
       </div>
       <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
         <i class="material-icons right">more_vert</i></span>
        {{ vis_dict.card_content_html|safe }}
       </div>
       <div class="card-action center">
        <a href="/visions/story" class="waves-effect waves-light btn">Read the Story</a>
       </div>
      </div><!-- .card -->
     </div><!-- .pairs-card -->
    {% else %}
     <div class="card z-depth-3">
      <h4 class="center">{{ vis_dict.title }}</h4>
      <div class="card-content">
       {{ vis_dict.card_content_html|safe }}
      </div><!-- .card-content -->
     </div><!-- .card -->
    {% endif %}
    </div><!-- .col -->
   {% endfor %}

  </div><!-- .row -->
 </div><!-- .section -->
</div><!-- .container -->

<hr><hr><hr>
<div class="container">
 <div class="section">
  <div class="row z-depth-3">
   <div class="col s12">
    <h2 class="center">Hard-Coded Visions</h2>
   </div><!-- .col -->
  </div><!-- .row -->
 </div><!-- .section -->
</div><!-- .container -->
<hr><hr><hr>

<div class="container">
 <div class="section">
  <div class="row">

   <div class="col s12 m6 l6">
    <div class="pairs-card z-depth-3">
     <h4 class="center">Princess Leia and Han Solo</h4>
     <div class="card sticky-action">
      <div class="card-image waves-effect waves-block waves-light">
       <img class="activator"
            src="{% static 'content/images/visions/people/star_wars-leia_and_han.jpg' %}">
      </div>
      <div class="card-reveal">
       <span class="card-title grey-text text-darken-4">Princess Leia and Han Solo<i class="material-icons right">close</i></span>
       <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
      <div class="card-content">
       <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
       <p>I am a very simple card. I am good at containing small bits of information.</p>
       <p>I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action center">
       <a href="/visions/story" class="waves-effect waves-light btn">Read the Story</a>
      </div>
     </div><!-- .pairs-card -->
    </div><!-- .card -->
   </div><!-- .col -->


   <div class="col s12 m6 l6">
    <div class="pairs-card z-depth-3">
     <h4 class="center">Fox Mulder and Dana Scully</h4>
     <div class="card sticky-action">
      <div class="card-image waves-effect waves-block waves-light">
       <img class="activator"
            src="{% static 'content/images/visions/people/x_files-mulder_and_scully.jpg' %}">
      </div>
      <div class="card-reveal">
       <span class="card-title grey-text text-darken-4">Fox Mulder and Dana Scully<i class="material-icons right">close</i></span>
       <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
      <div class="card-content">
       <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
       <p>I am a very simple card. I am good at containing small bits of information.</p>
       <p>I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action center">
       <a href="/visions/story" class="waves-effect waves-light btn">Read the Story</a>
      </div>
     </div><!-- .pairs-card -->
    </div><!-- .card -->
   </div><!-- .col -->


   <div class="col s12 m6 l6">
    <div class="pairs-card z-depth-3">
     <h4 class="center">Mr. Spock and Dr. McCoy</h4>
     <div class="card sticky-action">
      <div class="card-image waves-effect waves-block waves-light">
       <img class="activator"
            src="{% static 'content/images/visions/people/star_trek-spock_and_mccoy.jpg' %}">
      </div>
      <div class="card-reveal">
       <span class="card-title grey-text text-darken-4">Mr. Spock and Dr. McCoy<i class="material-icons right">close</i></span>
       <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
      <div class="card-content">
       <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
       <p>I am a very simple card. I am good at containing small bits of information.</p>
       <p>I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action center">
       <a href="/visions/story" class="waves-effect waves-light btn">Read the Story</a>
      </div>
     </div><!-- .pairs-card -->
    </div><!-- .card -->
   </div><!-- .col -->


   <div class="col s12 m6 l6">
    <div class="pairs-card z-depth-3">
     <div class="card small">
      <h4 class="center">Tabs Card</h4>
      <div class="card-content">
       <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-tabs">
       <ul class="tabs tabs-fixed-width">
        <li class="tab"><a href="#test4">Test 1</a></li>
        <li class="tab"><a class="active" href="#test5">Test 2</a></li>
        <li class="tab"><a href="#test6">Test 3</a></li>
       </ul>
      </div>
      <div class="card-content grey lighten-4">
       <div id="test4">Test 1</div>
       <div id="test5">Test 2</div>
       <div id="test6">Test 3</div>
      </div>
      <div class="card-action">
       <a href="/visions/story" class="waves-effect waves-light btn">Read the Story</a>
      </div>
     </div><!-- .pairs-card -->
    </div><!-- .card -->
   </div><!-- .col -->

  </div><!-- .row -->
 </div><!-- .section -->
</div><!-- .container -->
{% endblock %}
