{% extends "content/base.html" %}
{% load static %}

{% block content %}
<div class="container">
 <div class="section">
  <div class="row z-depth-3">
   <div class="col s12">
    <h1 class="center">Visions of Pairs of People</h1>

   </div><!-- .col -->
  </div><!-- .row -->
 </div><!-- .section -->
</div><!-- .container -->

<div class="container">
 <div class="section">
  <div class="row z-depth-3">

   <div class="col s12 m6 l6">
    <h5>Leia and Han</h5>
    <div class="card large">
     <div class="card-image">
      <img src="{% static 'content/images/visions/people/star_wars-leia_and_han.jpg' %}">
     </div>
     <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
         I am convenient because I require little markup to use effectively.</p>
     </div>
    </div><!-- .card -->
   </div><!-- .col -->


   <div class="col s12 m6 l6">
    <h5>Leia and Han</h5>
    <div class="card large">
     <div class="card-image">
      <img src="{% static 'content/images/visions/people/star_wars-leia_and_han/entj-leia_organa-1.jpg' %}">
     </div>
     <div class="card-image">
      <img src="{% static 'content/images/visions/people/star_wars-leia_and_han/esfp-han_solo-1.jpg' %}">
     </div>
     <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
         I am convenient because I require little markup to use effectively.</p>
     </div>
    </div><!-- .card -->
   </div><!-- .col -->


   <div class="col s12 m6 l6">
    <h5>Scully and Mulder</h5>
    <div class="card horizontal">
     <div class="card-image">
      <img src="{% static 'content/images/visions/people/x_files-mulder_and_scully/estj-dana_scully-2.jpg' %}">
     </div>
     <div class="card-image">
      <img src="{% static 'content/images/visions/people/x_files-mulder_and_scully/infp-fox_mulder-2.jpg' %}">
     </div>
     <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
         I am convenient because I require little markup to use effectively.</p>
     </div>
    </div><!-- .card -->
   </div><!-- .col -->


   <div class="col s12 m6 l6">
    <h5>McCoy and Spock</h5>
    <div class="card horizontal">
     <div class="card-image">
      <img src="{% static 'content/images/visions/people/star_trek-spock_and_mccoy/esfp-dr_mccoy.jpg' %}">
     </div>
     <div class="card-image">
      <img src="{% static 'content/images/visions/people/star_trek-spock_and_mccoy/istj-mr_spock-2.jpg' %}">
     </div>
     <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
         I am convenient because I require little markup to use effectively.</p>
     </div>
    </div><!-- .card -->
   </div><!-- .col -->

  </div><!-- .row -->
  <div class="row z-depth-3">

   <div class="col s12 m6 l6">
    <div class="card">
     <h5>Tabs Card</h5>
     <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
         I am convenient because I require little markup to use effectively.</p>
     </div>
     <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
       <li class="tab"><a href="#test4">Test 1</a></li>
       <li class="tab"><a class="active" href="#test5">Test 2</a></li>
       <li class="tab"><a href="#test6">Test 3</a></li>
      </ul>
     </div>
     <div class="card-content grey lighten-4">
      <div id="test4">Test 1</div>
      <div id="test5">Test 2</div>
      <div id="test6">Test 3</div>
     </div>
    </div><!-- .card -->
   </div><!-- .col -->

  </div><!-- .row -->
 </div><!-- .section -->
</div><!-- .container -->
{% endblock %}
