{% extends "content/base.html" %}
{% load static %}

{% block content %}
<div class="container">
 <div class="section">
  <div class="row z-depth-3">
   <div class="col s12">
    <h1 class="center">Visions of Pairs of People</h1>

  </div><!-- .col -->
 </div><!-- .row -->
</div><!-- .section -->
</div><!-- .container -->

<div class="container">
 <div class="section">
  <div class="row">

   <div class="col s12 m6 l6">
    <div class="card horizontal">
     <div class="card-image">
      <img src="{% static 'content/images/visions/people/star_trek-spock_and_mccoy/esfp-dr_mccoy.jpg' %}">
     </div>
     <div class="card-image">
      <img src="{% static 'content/images/visions/people/star_trek-spock_and_mccoy/istj-mr_spock-2.jpg' %}">
     </div>
     <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
         I am convenient because I require little markup to use effectively.</p>
     </div>
    </div><!-- .card -->
   </div><!-- .col -->

   <div class="col s12 m6 l6">
    <div class="card">
     <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
         I am convenient because I require little markup to use effectively.</p>
     </div>
     <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
       <li class="tab"><a href="#test4">Test 1</a></li>
       <li class="tab"><a class="active" href="#test5">Test 2</a></li>
       <li class="tab"><a href="#test6">Test 3</a></li>
      </ul>
     </div>
     <div class="card-content grey lighten-4">
      <div id="test4">Test 1</div>
      <div id="test5">Test 2</div>
      <div id="test6">Test 3</div>
     </div>
    </div><!-- .card -->
   </div><!-- .col -->

  </div><!-- .row -->
 </div><!-- .section -->
</div><!-- .container -->
{% endblock %}
