{% extends "content/base.html" %}
{% load static %}

{% block content %}
<div class="container">
 <div class="section">
  <div class="row z-depth-3">
   <div class="col s12">
    <h2 class="center">Visions: Individuals</h2>
   </div><!-- .col -->
  </div><!-- .row -->
 </div><!-- .section -->
</div><!-- .container -->

<div class="container">
 <div class="section">
  <div class="row">
  {% for vis_dict in visions_list_obj.visions_list_data %}
   {% if vis_dict.col_classes %}
   <div class="col {{ vis_dict.col_classes }}">
   {% else %}
   <div class="col s12 m6 l4">
   {% endif %}
   {% if vis_dict.vision_type == 'person' %}
    <div class="card sticky-action z-depth-3">
     <h4 class="center">{{ vis_dict.title }}</h4>
     <div class="card-image waves-effect waves-block waves-light">
      <img class="activator"
           src="{% static vis_dict.image_file_path %}">
     </div>
     <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{ vis_dict.title }}
       <i class="material-icons right">close</i></span>
      {{ vis_dict.card_reveal_html|safe }}
     </div>
     <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">
       <i class="material-icons right">more_vert</i></span>
      {{ vis_dict.card_content_html|safe }}
     </div>
     <div class="card-action center">
      <a href="/visions/story" class="waves-effect waves-light btn">Read the Story</a>
     </div>
    </div><!-- .card -->
   {% else %}
    <div class="card z-depth-3">
     <h4 class="center">{{ vis_dict.title }}</h4>
     <div class="card-content">
      {{ vis_dict.card_content_html|safe }}
     </div><!-- .card-content -->
    </div><!-- .card -->
   {% endif %}
   </div><!-- .col -->
  {% endfor %}
  </div><!-- .row -->
 </div><!-- .section -->
</div><!-- .container -->

<hr><hr><hr>
<div class="container">
 <div class="section">
  <div class="row z-depth-3">
   <div class="col s12">
    <h2 class="center">Hard-Coded Visions</h2>
   </div><!-- .col -->
  </div><!-- .row -->
 </div><!-- .section -->
</div><!-- .container -->
<hr><hr><hr>


<div class="container">
 <div class="section">

  <div class="row">
   <div class="col s12 m6 l4">
    <div class="card sticky-action z-depth-3">
     <h4 class="center">Luke Skywalker</h4>
     <div class="card-image waves-effect waves-block waves-light">
      <img class="activator"
           src="{% static 'content/images/visions/person/entp-luke_skywalker-1.jpg' %}">
     </div>
     <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Luke Skywalker<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
     </div>
     <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
      <p>I am a very simple card. I am good at containing small bits of information.</p>
     </div>
     <div class="card-content">
      <p>This is another card-content div.</p>
     </div>
     <div class="card-action center">
      <a href="/visions/story" class="waves-effect waves-light btn">Read the Story</a>
     </div>
    </div><!-- .card -->
   </div><!-- .col -->

   <div class="col s12 m6 l4">
    <div class="card sticky-action z-depth-3">
     <h4 class="center">Theodore Roosevelt</h4>
      <div class="card-image waves-effect waves-block waves-light">
       <img class="activator"
            src="{% static 'content/images/visions/person/estj-theodore_roosevelt-1.jpg' %}">
      </div>
      <div class="card-reveal">
       <span class="card-title grey-text text-darken-4">Theodore Roosevelt<i class="material-icons right">close</i></span>
       <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
      <div class="card-content">
       <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
       <p>I am a very simple card. I am good at containing small bits of information.</p>
       <p>I am convenient because I require little markup to use effectively.</p>
       <p>What if I add a paragraph instead of another card-content div?</p>
      </div>
      <div class="card-action center">
       <a href="/visions/story" class="waves-effect waves-light btn">Read the Story</a>
      </div>
    </div><!-- .card -->
   </div><!-- .col -->

   <div class="col s12 m6 l4">
    <div class="card sticky-action z-depth-3">
     <h4 class="center">Imelda Marcos</h4>
     <div class="card-image waves-effect waves-block waves-light">
      <img class="activator"
           src="{% static 'content/images/visions/person/enfp-imelda_romualdez_marcos-1.jpg' %}">
     </div>
     <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Imelda Marcos<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
     </div>
     <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
      <p>I am a very simple card. I am good at containing small bits of information.</p>
     </div>
     <div class="card-content">
      <p>Adding another card-content div, for grins.</p>
     </div>
     <div class="card-action center">
      <p>
       <a href="/visions/story" class="waves-effect waves-light btn">Read the Story</a>
      </p>
     </div>
    </div><!-- .card -->
   </div><!-- .col -->

  </div><!-- .row -->
  <div class="row">

   <div class="col s12 m6 l4">
    <div class="card sticky-action z-depth-3">
     <h4 class="center">Captain James T. Kirk</h4>
     <div class="card-image waves-effect waves-block waves-light">
      <img class="activator"
           src="{% static 'content/images/visions/person/estj-captain_kirk-2.jpg' %}">
     </div>
     <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Captain James T. Kirk<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
     </div>
     <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
      <p>I am a very simple card. I am good at containing small bits of information.</p>
      <p>I am convenient because I require little markup to use effectively.</p>
     </div>
     <div class="card-action center">
      <a href="/visions/story" class="waves-effect waves-light btn">Read the Story</a>
     </div>
    </div><!-- .card -->
   </div><!-- .col -->


   <div class="col s12 m6 l4">
    <div class="card sticky-action z-depth-3">
     <h4 class="center">Luke Skywalker</h4>
     <div class="card-image waves-effect waves-block waves-light">
      <img class="activator"
           src="{% static 'content/images/visions/person/entp-luke_skywalker-1.jpg' %}">
     </div>
     <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Luke Skywalker<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
     </div>
     <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
      <p>I am a very simple card. I am good at containing small bits of information.</p>
      <p>I am convenient because I require little markup to use effectively.</p>
     </div>
     <div class="card-action center">
      <a href="/visions/story" class="waves-effect waves-light btn">Read the Story</a>
     </div>
    </div><!-- .card -->
   </div><!-- .col -->


   <div class="col s12">
    <div class="card horizontal">
     <h4 class="center">Luke Skywalker</h4>
     <div class="card-image waves-effect waves-block waves-light">
      <img class="activator"
           src="{% static 'content/images/visions/person/entp-luke_skywalker-1.jpg' %}">
     </div>
     <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Luke Skywalker<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
     </div>
     <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p>I am a very simple card. I am good at containing small bits of information.</p>
      <p>I am convenient because I require little markup to use effectively.</p>
     </div>
     <div class="card-action">
      <a href="/visions/story" class="waves-effect waves-light btn">Read the Story</a>
     </div>
    </div><!-- .card -->
   </div><!-- .col -->


  </div><!-- .row -->
 </div><!-- .section -->
</div><!-- .container -->
{% endblock %}
