{% extends "content/base.html" %}
{% load static %}

{% block content %}
<div class="container">
 <div class="section">
  <div class="row z-depth-3">
   <div class="col s12">
    <h1 class="center">Visions of Individuals</h1>
   </div><!-- .col -->
  </div><!-- .row -->
 </div><!-- .section -->
</div><!-- .container -->

<div class="container">
 <div class="section">
  <div class="row">

   <div class="col s6 m6 l4">
    <div class="card sticky-action">
     <h4>Luke Skywalker</h4>
     <div class="card-image waves-effect waves-block waves-light">
      <img class="activator"
           src="{% static 'content/images/visions/person/entp-luke_skywalker-1.jpg' %}">
     </div>
     <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Luke Skywalker<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
     </div>
     <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
      <p>I am a very simple card. I am good at containing small bits of information.</p>
      <p>I am convenient because I require little markup to use effectively.</p>
     </div>
     <div class="card-action">
      <a href="/visions/story" class="waves-effect waves-light btn">Read the Story</a>
     </div>
     <div class="card-content">
      <p>What if I add another card-content div?</p>
     </div>
    </div><!-- .card -->
   </div><!-- .col -->


   <div class="col s6 m6 l4">
    <div class="card sticky-action">
     <h4>Theodore Roosevelt</h4>
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator"
             src="{% static 'content/images/visions/person/estj-theodore_roosevelt-1.jpg' %}">
      </div>
      <div class="card-reveal">
       <span class="card-title grey-text text-darken-4">Theodore Roosevelt<i class="material-icons right">close</i></span>
       <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.</p>
        <p>I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
       <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
       <a href="/visions/story" class="waves-effect waves-light btn">Read the Story</a>
      </div>
     <div class="card-content">
      <p>What if I add another card-content div?</p>
     </div>
    </div><!-- .card -->
   </div><!-- .col -->


   <div class="col s6 m6 l4">
    <div class="card sticky-action">
     <h4>Imelda Marcos</h4>
     <div class="card-image waves-effect waves-block waves-light">
      <img class="activator"
           src="{% static 'content/images/visions/person/enfp-imelda_romualdez_marcos-1.jpg' %}">
     </div>
     <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
      <p>
       <a href="/visions/story" class="waves-effect waves-light btn">Read the Story</a>
      </p>
     </div>
     <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Imelda Marcos<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
     </div>
    </div><!-- .card -->
   </div><!-- .col -->


   <div class="col s6 m6 l4">
    <div class="card sticky-action">
     <h4>Captain James T. Kirk</h4>
     <div class="card-image waves-effect waves-block waves-light">
      <img class="activator"
           src="{% static 'content/images/visions/person/estj-captain_kirk-2.jpg' %}">
     </div>
     <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
         I am convenient because I require little markup to use effectively.</p>
     </div>
     <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Imelda Marcos<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
     </div>
     <div class="card-action">
      <a href="/visions/story" class="waves-effect waves-light btn">Read the Story</a>
     </div>
    </div><!-- .card -->
   </div><!-- .col -->


   <div class="col s6 m6 l4">
    <div class="card sticky-action">
     <h4>Luke Skywalker</h4>
     <div class="card-image waves-effect waves-block waves-light">
      <img class="activator"
           src="{% static 'content/images/visions/person/entp-luke_skywalker-1.jpg' %}">
     </div>
     <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Luke Skywalker<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
     </div>
     <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
      <p>I am a very simple card. I am good at containing small bits of information.</p>
      <p>I am convenient because I require little markup to use effectively.</p>
     </div>
     <div class="card-action">
      <a href="/visions/story" class="waves-effect waves-light btn">Read the Story</a>
     </div>
     <div class="card-content">
      <p>What if I add another card-content div?</p>
     </div>
    </div><!-- .card -->
   </div><!-- .col -->


   <div class="col s6 m6 l4">
    <div class="card sticky-action">
     <h4 class="card-action"><a href="#">Luke Skywalker</a></h4>
     <div class="card-image waves-effect waves-block waves-light">
      <img class="activator"
           src="{% static 'content/images/visions/person/entp-luke_skywalker-1.jpg' %}">
     </div>
     <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Luke Skywalker<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
     </div>
     <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Luke Skywalker<i class="material-icons right">more_vert</i></span>
      <p>I am a very simple card. I am good at containing small bits of information.</p>
      <p>I am convenient because I require little markup to use effectively.</p>
     </div>
     <div class="card-action">
      <a href="/visions/story" class="waves-effect waves-light btn">Read the Story</a>
     </div>
     <div class="card-content">
      <p>What if I add another card-content div?</p>
     </div>
    </div><!-- .card -->
   </div><!-- .col -->


   <div class="col s12">
    <div class="card horizontal">
     <h4>Luke Skywalker</h4>
     <div class="card-image waves-effect waves-block waves-light">
      <img class="activator"
           src="{% static 'content/images/visions/person/entp-luke_skywalker-1.jpg' %}">
     </div>
     <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Luke Skywalker<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
     </div>
     <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p>I am a very simple card. I am good at containing small bits of information.</p>
      <p>I am convenient because I require little markup to use effectively.</p>
     </div>
     <div class="card-action">
      <a href="/visions/story" class="waves-effect waves-light btn">Read the Story</a>
     </div>
     <div class="card-content">
      <p>What if I add another card-content div?</p>
     </div>
    </div><!-- .card -->
   </div><!-- .col -->


  </div><!-- .row -->
 </div><!-- .section -->
</div><!-- .container -->
{% endblock %}
