{% extends "content/base.html" %}
{% load static %}

{% block content %}
<div class="container">
 <div class="section z-depth-3">
  <div class="row">
   <div class="col s12">

   {% if visions_story_data.vision_dict.title %}
    <h2 class="center">{{ visions_story_data.vision_dict.title }}</h2>
    {% if visions_story_data.vision_dict.image_file_name %}
     <div class="center">
      <img class="responsive-img"
           src="{% static visions_story_data.vision_dict.image_file_path %}">
     </div>
    {% endif %}
    {% if visions_story_data.vision_dict.image_file_list %}
     <div class="center">
      {% for image_data_dict in visions_story_data.vision_dict.image_data %}
       <div class="">
        <h5 class="center">{{ image_data_dict.name }}</h5>
        <img width="200px" height="200px"
             class="responsive-img" src="{% static image_data_dict.image_file_path %}">
       </div>
      {% endfor %}
     </div>
    {% endif %}
    {% if visions_story_data.vision_dict.subtitle %}
     <h4 class='center'>{{ visions_story_data.vision_dict.subtitle }}</h4>
    {% endif %}
   {% else %}
    <h2 class="center">Error!</h2>
   {% endif %}
   </div><!-- .col -->
  </div><!-- .row -->
  <div class="row">
   <div class="col s12">
    {% if visions_story_data.story_html %}
     <div>{{ visions_story_data.story_html|safe }}</div>
    {% endif %}
   </div><!-- .col -->
  </div><!-- .row -->
 </div><!-- .section -->
</div><!-- .container -->
{% endblock %}
