{% extends "content/base.html" %}
{% load static %}

{% block content %}
<div class="container">
 <div class="section z-depth-3">
  <div class="row">
   <div class="col s12">
    <div class="hoverable titles-images">
     {% if visions_story_data.vision_dict.title %}
      <h2 class="center">{{ visions_story_data.vision_dict.title }}</h2>
      {% if visions_story_data.vision_dict.image_file_name %}
       <div class="center">
        <img class="responsive-img"
             src="{% static visions_story_data.vision_dict.image_file_path %}">
       </div>
      {% endif %}
      {% if visions_story_data.vision_dict.image_file_list %}
       <div class="card horizontal">
        {% for image_data_dict in visions_story_data.vision_dict.image_data %}
         <div class="card-image group-image">
          <h5 class="center">{{ image_data_dict.name }}</h5>
          <img width="200px" height="200px"
               class="responsive-img" src="{% static image_data_dict.image_file_path %}">
         </div>
        {% endfor %}
       </div><!-- .card .horizontal -->
      {% endif %}
      {% if visions_story_data.vision_dict.subtitle %}
       <h4 class='center'><em>{{ visions_story_data.vision_dict.subtitle }}</em></h4>
      {% endif %}
     {% else %}
      <h2 class="center">Error!</h2>
     {% endif %}
    </div><!-- .hoverable -->
   </div><!-- .col -->
  </div><!-- .row -->
  <div class="row valign-wrapper">
   <div class="col s6 m6 l6">
    <div class="hoverable">
     <div class="author-date">
      <p>
       By
       {% if visions_story_data.vision_dict.author %}
        {{ visions_story_data.vision_dict.author }}.
       {% else %}
        Tom Hartung.
       {% endif %}
      <br>
       <i class="material-icons">copyright</i>
       Copyright
        {% if visions_story_data.vision_dict.date %}
         {{ visions_story_data.vision_dict.date }}.
        {% else %}
         2018.
        {% endif %}
       <br>
        All rights reserved.
      </p>
     </div><!-- .author-date -->
    </div><!-- .hoverable -->
   </div><!-- .col -->
   <div class="col s6 m6 l6">
    <div class="hoverable">
     <p class="short-disclosure">
      This page contains affiliate links.
      Using them to make a purchase helps support this site, without
      any additional cost to you.
      <span class="hoverable right valign-wrapper">
       <i class="material-icons">info_outline</i>
       <a href="/legal/affiliate_marketing_disclosure" class="waves-effect waves-light btn-flat"
          title="Affiliate Marketing Disclosure">Learn More</a></span></p>
    </div><!-- .hoverable -->
   </div><!-- .col -->
  </div><!-- .row -->
  <div class="row">
   <div class="col s12">
    <div class="hoverable story-html">
     {% if visions_story_data.story_html %}
      <div>{{ visions_story_data.story_html|safe }}</div>
     {% endif %}
    </div><!-- .hoverable -->
   </div><!-- .col -->
  </div><!-- .row -->
 </div><!-- .section -->
</div><!-- .container -->
{% endblock %}
