{% extends "content/base.html" %}
{% load static %}

{% block content %}
<div class="container">
 <div class="section z-depth-3">
  <div class="row">
   <div class="col s12">
    <div class="titles-images-outer z-depth-3">
     {% if visions_story_data.vision_dict.title %}
      <div class="titles-images-inner hoverable">
       <h2 class="center">{{ visions_story_data.vision_dict.title }}</h2>
      </div><!-- .titles-images-inner -->
      <div class="titles-images-inner hoverable">
       {% if visions_story_data.vision_dict.image_file_name %}
        <div class="center">
         <img class="responsive-img"
              src="{% static visions_story_data.vision_dict.image_file_path %}">
        </div>
       {% elif visions_story_data.vision_dict.image_file_list %}
        <div class="card horizontal hoverable">
         {% for image_data_dict in visions_story_data.vision_dict.image_data %}
          <div class="card-image group-image">
           <h5 class="center">{{ image_data_dict.name }}</h5>
           <img width="200px" height="200px"
                class="responsive-img" src="{% static image_data_dict.image_file_path %}">
          </div>
         {% endfor %}
        </div><!-- .card .horizontal -->
       {% endif %}
      </div><!-- .titles-images-inner -->
      {% if visions_story_data.vision_dict.subtitle %}
       <div class="titles-images-inner hoverable">
        <h4 class="center"><em>{{ visions_story_data.vision_dict.subtitle }}</em></h4>
       </div><!-- .titles-images-inner -->
      {% endif %}
     {% else %}
      <div class="titles-images-inner hoverable">
       <h2 class="center">No Title!?!</h2>
      </div><!-- .titles-images-inner -->
     {% endif %}
    </div><!-- .titles-images-outer -->
   </div><!-- .col -->
  </div><!-- .row -->
  <div class="row valign-wrapper">
   <div class="col s6 m5 l4">
    <div class="author-date-outer z-depth-3">
     <div class="author-date-inner hoverable">
      <p>
       By {{ visions_story_data.vision_dict.author }}.<br>
       Copyright &copy; {{ visions_story_data.vision_dict.date }}.<br>
       <span class="hoverable valign-wrapper icon-and-link">
        <i class="material-icons">copyright</i>
        <a href="/legal/terms_of_service#intellectual_property_rights"
           class="waves-effect waves-light btn-flat"
           title="Terms of Service - Intellectual Property Rights">
         All rights reserved.</a></span>
      </p>
     </div><!-- .author-date-inner -->
    </div><!-- .author-date-outer -->
   </div><!-- .col -->
   <div class="col s6 m7 l8">
    <div class="short-disclosure-outer z-depth-3">
     <div class="short-disclosure-inner hoverable">
      <p>
       {{ visions_story_data.vision_dict.disclosure_text }}<br>
       <span class="hoverable valign-wrapper icon-and-link">
        <i class="material-icons">info_outline</i>
        <a href="/legal/affiliate_marketing_disclosure#about_affiliate_marketing"
           class="waves-effect waves-light btn-flat"
           title="Affiliate Marketing Disclosure">
         {{ visions_story_data.vision_dict.disclosure_btn_text }}</a></span>
      </p>
     </div><!-- .short-disclosure-inner -->
    </div><!-- .short-disclosure-outer -->
   </div><!-- .col -->
  </div><!-- .row -->
  <div class="row">
   <div class="col s12 m12 l12">
    <div class="hoverable story-html">
     {% if visions_story_data.story_html %}
      <div>{{ visions_story_data.story_html|safe }}</div>
     {% endif %}
    </div><!-- .hoverable -->
  {% if visions_story_data.footnotes_html %}
     <div class="hoverable footnotes-html">
      <h5 class="center">Footnotes</h5>
      <div>{{ visions_story_data.footnotes_html|safe }}</div>
     </div><!-- .hoverable -->
    </div><!-- .col -->
   </div><!-- .row -->
  {% endif %}

 </div><!-- .section -->
</div><!-- .container -->
{% endblock %}
