<div class="row">
 <div class="col s12">
  <div class="story-html-outer z-depth-3">
   <div class="story-html-inner hoverable">
    <p>
     The images above are spiritual portraits, or
      <em>Grojas</em>.<sup><a href="#notes" title="Skip to the Notes on this page">[1]</a></sup>
	    They depict the personalities of _____________ and _____________, the
    </p>
    <h4 class="center">An H4 Heading</h4>
    <p>
     For all sorts of sample markup, see the <a href='/index' title='The index page'>index page</a>.
    </p>
    <p>
     Paragraph.
    </p>
    <h5 class="center">An H5 Heading</h5>
    <p>
     Paragraph.
    </p>
    <blockquote class="avs-blockquote">
     Blockquote.
      <q class="from-book underline">Text quoted from book.</q>
     <br>
     &nbsp;&mdash;&nbsp;
      <span class="book-title">Title of Book or Whatever</span> by
      AUTHOR, YEAR, p. xyz.
    </blockquote>
    <p>
     Paragraph.
    </p>
    <h4 class="center">See More at SeeOurMinds.com</h4>
    <p>
     To see the full-size images of the personalities of
      <a href='https://www.SeeOurMinds.com/image/XXX/'
         title='Link to the spiritual portrait of XXX on SeeOurMinds.com'
         target="_blank">
       XXX</a>
      and
      <a href='https://www.SeeOurMinds.com/image/YYY/'
         title='Link to the spiritual portrait of YYY on SeeOurMinds.com'
         target="_blank">
       YYY</a>, visit the
      <a href='https://www.SeeOurMinds.com/gallery/ZZZ/'
         title='Link to a gallery page on SeeOurMinds.com site with images of characters from ZZZ'
         target="_blank">
       ZZZ</a>
      at
      <a href="https://SeeOurMinds.com"
         title="Home page of SeeOurMinds.com" target="_blank">
       SeeOurMinds.com</a>.
    </p>
    <p>
     SeeOurMinds.com also contains several galleries with a total of over
      two dozen images of personalities from
      <a href="https://seeourminds.com/galleries/twin_peaks/"
         title="The Twin Peaks Galleries at SeeOurMinds.com"
         class="series-title" target="_blank">
       Twin Peaks!</a>
    </p>
   </div><!-- .story-html-inner -->
   <a name="review"></a>
   <div class="story-html-inner hoverable">
    <h4 class="center">Get <span class="movie-title">Optional Review</span> Today!</h4>
    <p>
     Paragraph.
    </p>
    <p class="center-align">
     <b><u>I highly recommend ....!</u></b>
    </p>
    <p class="right-align">
     <b><em>Tom W. Hartung</em></b>
    </p>
    <p class="center">
    </p>
    <div class="row center">
    </div><!-- .row -->
   </div><!-- .story-html-inner -->
  </div><!-- .story-html-outer -->
 </div><!-- .col -->
</div><!-- .row -->
