/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
/*
 * Styles from demo version downloaded from MaterializeCSS.com
 */
nav ul a,
nav .brand-logo {
  color: black;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: grey;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: -5%;  /* when tagline goes to three lines, it pushes the button too low */
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*
 * My CusTOMizations
 */
#main-navigation {
  padding: .3em 0 .3em 0;
}
.mobile-submenu-item {
  margin-left: 2em;
}

a {
  font-weight: bold;
}
a.artsy-btn {
  margin: 1em .5em 0em .5em;
}

q.dialog,
q.document-title,
q.from-book {
  font-style: italic;
  font-weight: bold;
}
q.mantra,
q.slang {
  font-style: italic;
}

.foreign-term {
  font-style: italic;
}
.book-title,
.episode-title,
.movie-title,
.series-title {
  font-style: italic;
  text-decoration: underline;
}

.ordinal {
  vertical-align: super;
}
.first-letter {
  font-size: 200%;
}

ul.social-icons {
  margin: 2em;
}
li.social-icon {
  display: inline;
  font-size: 1.4em;
  padding: .4em;
}

/*
 * For the cards on the person, pairs, groups, and all pages
 */
.sticky-action {
  padding: 5%;
}
.all-card,
.groups-card,
.person-card,
.pairs-card {
  margin: 2% 0 2% 0;
  padding: .5% 2% .5% 2%;
}
.groups-images {  /* div wraps all images + subtitle in a group */
  padding: .5% 1% 2% 1%;
}
.group-image {    /* div wraps a single image in a group */
  margin: .5%;
  padding: 1%;
}

/*
 * Story Page
 */
.headings-images-outer,
.author-date-outer,
.short-disclosure-outer {
  padding: .5em;
}
.story-html-outer,
.notes-html-outer {
  margin: .5em;
  padding: .5em;
}

.headings-images-inner {
  padding: .5em .75em .5em .75em;
}
.author-date-inner,
.short-disclosure-inner {
  padding: .25em 1em .25em 1em;
}
.icon-and-link {
  padding-top: .5em;
}
.story-html-inner,
.notes-html-inner {
  margin: .5em;
  padding: 1.5em;
}

