<div class="row">
 <div class="col s12">
  <div class="story-html-outer z-depth-3">
   <div class="story-html-inner hoverable">
    <p>
     The image above is a spiritual portrait, or
      <em>Groja</em>.<sup><a href="#notes" title="Skip to the Notes on this page">[1]</a></sup>
     It depicts the personality of ___.
     <br>
     The images above are spiritual portraits, or
      <em>Grojas</em>.<sup><a href="#notes" title="Skip to the Notes on this page">[1]</a></sup>
	    They depict the personalities of ___, ___, and ___.
    </p>
    <p>
     For books, movies, and tv shows, use a
      <span class="book-title">span<span> or
      <a href="" class="episode-title">anchor</a> tag
      with class="book-title", "episode-title", "movie-title"
      or "series-title" .
    </p>
    <p>
     <b><em>What is the big picture revealed by the image or images?</em></b>
    </p>
    <p>
     These spiritual portraits show how ....
    </p>
    <h4 class="center">Checklist</h4>
    <ul class="collection">
     <li class="collection-item">
      [ ] Be sure to include affiliate links
     </li>
     <li class="collection-item">
      [ ] Address any issues hinted at in the cards on the list page
     </li>
     <li class="collection-item">
      [ ] Include links to the full-size image or images at SeeOurMinds.com
      <ul class="collection">
       <li class="collection-item">
        [ ] Link the use of the person's name at the top, where we refer
        to the image
       </li>
       <li class="collection-item">
        [ ] Closing section &mdash; see example below
       </li>
      </ul>
     </li>
     <li class="collection-item">
      [ ]
     </li>
     <li class="collection-item">
      [ ]
     </li>
     <li class="collection-item">
      [ ] Closing section links to SeeOurMinds.com:
       <q>See More at SeeOurMinds.com</q> &mdash; see example below
     </li>
    </ul>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <h4 class="center">See More at SeeOurMinds.com</h4>
    <p>
     To see full-size images of the personalities of
      <a href='https://www.SeeOurMinds.com/image//3900-fictional-tv-star_trek/3902/'
         title='Link to the spiritual portrait of Captain Kirk on SeeOurMinds.com'
         target='_blank'>
       Captain Kirk
      </a>
      and other characters &mdash; including
      <a href='https://www.SeeOurMinds.com/image/3900-fictional-tv-star_trek/3905/'
         title='Link to the spiritual portrait of Scotty on SeeOurMinds.com'
         target='_blank'>
       Scotty</a> &mdash;
      on Star Trek, see the
      <a href='https://www.SeeOurMinds.com/gallery/3900-fictional-tv-star_trek/'
         title='Link to a gallery page on SeeOurMinds.com site with images of characters from Star Trek'
         target='_blank'>
       Star Trek gallery</a>
      at SeeOurMinds.com.
    </p>
    <h5 class="center">Sequencing Idea</h5>
    <p>
     Sequencing idea:
    </p>
    <ol class="collection">
     <li class="collection-item">
      Associate dominant and auxiliary colors with traits early in article
     </li>
     <li class="collection-item">
      In rest of article, refer to those traits, <em>not</em> the colors
     </li>
     <li class="collection-item">
     </li>
    </ol>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
   </div><!-- .notes-html-inner -->
   <div class="notes-html-inner hoverable">
    <h4 class="center">Remastered DVD</h4>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <p class="center">
     <a href=""
         target="_blank"
        class="btn-large waves-effect waves-light green darken-2 z-depth-5">
      &nbsp;Buy Now!&nbsp;
     </a>
    </p>
   </div><!-- .notes-html-inner -->
   <div class="notes-html-inner hoverable">
    <h4 class="center">h4: Experimental</h4>
    <p>
     Experimenting with including an image in the content.
     Thinking about including a small copy of the image down in the text
      so people can see it.
     Don't really want to take the time right now to work this out.
     It is certainly something we can easily add later.
    </p>
    <p>
     Here is the experimental markup for embedding an image in the content:
    </p>
    <div class="col m8">
     <p>
      See, the thing about it, Preston, is that you're unbelievably stupid.
      You are.  I don't say it to upset you.  Just to state a fact....
      Nobody ever thinks they're stupid.  It's part of the stupidity.
     </p>
     <p>
      See, the thing about it, Preston, is that you're unbelievably stupid.
      You are.  I don't say it to upset you.  Just to state a fact....
      Nobody ever thinks they're stupid.  It's part of the stupidity.
     </p>
    </div><!-- .col -->
    <div class="col m4">
     <div class="card-image">
      <img src="/static/content/images/visions/person/estj-captain_kirk-3.jpg"
           height="100px">
     </div><!-- .card-image -->
    </div><!-- .col -->
    <p>
    </p>
    <h3 class="center">Heading Level h3</h3>
    <p>
     Level 3 headings are a bit too large for our purposes.
    </p>
    <h4 class="center">Preferred Heading: h4</h4>
    <p>
     Level 4 headings seem to work best.
    </p>
    <h5 class="center">Heading Level h5</h5>
    <p>
     Level 5 headings are a bit too small for our purposes.
    </p>
    <h6 class="center">Heading Level h6</h6>
    <p>
     Level 6 headings are a bit too small for our purposes.
    </p>
    <h4 class="center">Basis or Credits or ... </h4>
    <p>
     This portrait is based on <a href="">affiliate link</a>.
     The basis for this portrait is <a href="">affiliate link</a>.
    </p>
    <p>
     These portraits are based on <a href="">affiliate link</a>.
     The basis for these portraits is <a href="">affiliate link</a>.
    </p>
    <p>
     See, the thing about it, Preston, is that you're unbelievably stupid.
     You are.  I don't say it to upset you.  Just to state a fact....
     Nobody ever thinks they're stupid.  It's part of the stupidity.
    </p>
    <p>
    </p>
   </div><!-- .story-html-inner -->
  </div><!-- .story-html-outer -->
 </div><!-- .col -->
</div><!-- .row -->
